
      <div class="container _color" style="border-style:solid;border-color:grey;font-style:normal;font-size:medium;font-family:'Times New Roman', Times, serif;list-style-position: inside;">
            <div class="row">
                  <div class="col-sm-offset-3 col-sm-8">
                  <h3 style="color:black">Angular2 Syllabus</h3>
                  <ul>
                   <li style="color:blue">1.Getting Started..</li>
                   <li>Set up the Development Environment..</li>
                   <li>create a new project..</li>
                   <li>Edit your first Angular component.</li>
                   <li>What's next?</li>
                   <li>Project file review.</li>
                   <li>The src folder.</li>
                   <li>The root folder.</li>
                   <li>Next Step.</li>
                   <li style="color:blue">2.Introduction</li>
                   <li>What you'll build.</li>
                   <li style="color:blue">3.Hero Editor.</li>
                   <li>Setup to develop locally.</li>
                   <li>Keep the app transpiling and running.</li> 
                   <li>Show the hero.</li>
                   <li>Hero object.</li>
                   <li>Adding HTML with multi-line template strings.</li>
                   <li>Edit the hero name.</li>
                   <li>Two-way binding.</li>
                   <li>Import the FormsModule.</li>
                   <li style="color:blue">4.Master Detail:</li>
                   <li>Where you left off</li>
                   <li>Keep the app transpiling and running.</li>
                   <li>Displaying heroes.</li>
                   <li>Create heroes.</li>
                   <li>Expose heroes.</li>
                   <li>Display hero names in a template.</li>
                   <li>List heroes with ngFor</li>
                   <li>Style the heroes</li>
                   <li>Selecting a hero & Handle click events</li>
                   <li>Add a click handler to expose the selected hero</li>
                   <li>Hide the empty detail with ngIf & Style the selected hero</li>
                   <li style="color:blue">5.Multiple component</li>
                   <li>Make a hero detail component.</li>
                   <li>Hero detail template</li>
                   <li>Add the hero property</li>
                   <li>The hero property is an input property</li>
                   <li>Declare HeroDetailComponent in the AppModule</li>
                   <li>Add the HeroDetailComponent to the 
                        AppComponent</li>
                    <li style="color:blue">6.Services</li>
                    <li>Create the HeroService</li>
                    <li>Injectable services</li>
                    <li>Getting hero data</li>
                    <li>Move the mock hero data</li>
                    <li>Return mocked hero data</li>
                    <li>Import the hero service</li>
                    <li>Don't use new with the HeroService</li>
                    <li>Inject the HeroService</li>
                    <li style="color:blue">7.Routing</li>
                    <li>HeroesComponent</li>
                    <li>Create AppComponent</li>
                    <li>Add routing,
                        base href,
                        Configure routes</li>
                    <li>Make the router available</li>
                    <li>Router outlet</li>
                    <li>Router links</li>            
                  </ul>
                  </div>
                  <!--<div class="col-sm-4">
                    <button (click)="myFunction()" class="btn btn-sm btn btn-info">Print this page</button>
                  </div>-->
            </div>
            
      </div>      