<div class="container _font">
      <div class="col-sm-offset-4 col-sm-4">
            <h4 style="color:black">Frontend Course</h4>  
            <a href="assets/html_tutorial.pdf" (click)="window.open('html_tutorial.pdf','fullscreen =yes')"
            >HTMl Course Tutorial</a><br>
            <a routerLink="/angular2">
            Angular2 Course Tutorial</a>
      </div>   
</div>


<!--<div class="container">
      <div class="row">
            <div class="col-sm-3"><a href="#">Getting Started</a></div>
            <div class="col-sm-5">
            Good tools make application development quicker and easier to maintain than if you did everything by hand.

            The Angular CLI is a command line interface tool that can create a project, add files, and perform a variety of ongoing development tasks such as testing, bundling, and deployment.

            The goal in this guide is to build and run a simple Angular application in TypeScript, using the Angular CLI while adhering to the Style Guide recommendations that benefit every Angular project.

            By the end of the chapter, you'll have a basic understanding of development with the CLI and a foundation for both these documentation samples and for real world applications.

            And you can also download the example.
            </div>

            <div class="col-sm-4">
            <a href="3">Step 1. Set up the Development Environment</a>
            </div>
            <div class="col-sm-4"><a href="#">Step 2.create a new project</a></div>
            <div class="col-sm-4">
            Step 3: Serve the application</div> 
      </div>-->
    

      <!--<div class="row">
            <div class="col-sm-3">Tutorial</div>
            <div class="col-sm-5">.col-sm-4</div>
            <div class="col-sm-4">.col-sm-4</div> 
      </div>-->

